# Entorno virtual de Python
.venv/
venv/
env/

# Archivos de configuración de IDEs (PyCharm, VSCode)
.idea/
.vscode/

# Archivos de caché de Python
__pycache__/
*.pyc

# Otros archivos de sistema operativo
.DS_Store
Thumbs.db